body {
	background-color: black;
	text-align: center;
	color: white;
	margin: auto;
}
h2 {
	color: white;
}
h3 {
	color: purple;
}
.contenedor{
	background: purple;
	color: white;
	opacity: 0.8;
	width: auto;
	height: auto;
	text-align: left;
	padding: 15px;
	margin: 15px;
	border-radius:10px; 
	-moz-border-radius:10px; /* Firefox */ 
	-webkit-border-radius:10px; /* Safari y Chrome */
}
.avatar{
	background: white;
}